.booking-page {
  display: flex;
  justify-content: center;
  background: #fffefc;
  min-height: 100vh;
}

.booking-card {
  width: 393px;
  padding: 20px;
}

/* header */
.booking-header {
  display: flex;
  gap: 12px;
  align-items: center;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

/* HN บางลง */
.hn {
  font-weight: 400;
  font-size: 16px;
}

/* title */
.title {
  margin-top: 20px;
  font-weight: 700;
}

/* room */
.room {
  display: flex;
  gap: 12px;
  margin-top: 10px;
}

.room-number {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background: #6c9ea2;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* service */
.service-name {
  margin-top: 10px;
  color: #5f7f97;
}

/* image */
.room-img {
  width: 100%;
  margin-top: 15px;
}

/* summary */
.summary-title {
  margin-top: 20px;
}

.summary-row {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* time pill */
.time {
  border: 1px solid #57a15f;
  color: #57a15f;
  padding: 4px 10px;
  border-radius: 16px;
}

/* button */
.submit-btn {
  margin-left: auto;
  background: #6c85a2;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 8px 16px;
}